/* my css */

/* .btn,
.jumbotron,
.nav :hover {
  border-radius: 0px;
}

body {
  min-height: 100vh;
  position: relative;
  background: #343a40;
}

footer {
  position: absolute;
  top: 100%;
  margin-top: 10px;
  bottom: 0px;
  right: 0px;
  left: 0px;
} */

.btn,
.jumbotron,
.nav :hover {
  border-radius: 0px;
}

body {
  background: #343a40;
}

footer {
  position: absolute;
  bottom: 0px;
  right: 0px;
  left: 0px;
}
